[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "MixSAL"]
	path = MixSAL
	url = https://github.com/cran/MixSAL
	shallow = true
	registered = true
